<launch>
    <arg name="register" default="false" />

    <rosparam ns="vz_acoustic_scene_analysis" command="load" file="$(find vz_acoustic_scene_analysis)/config/audio_params.yaml" />
    <param name="/vz_acoustic_scene_analysis/registering" type="bool" value="$(arg register)" />

    <node name="stretch_audio" pkg="vz_acoustic_scene_analysis" type="ros_interface.py" output="screen" />
</launch>